a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #B32428;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header {
    background-color: #B5B8B1;
}

ul li {
    display: inline;
    padding: 10px;
}

footer {
    background-color: #B5B8B1;
}